{% extends 'partials/base.html'%}
{% block title %}Bi3Smart | Home Page{% endblock %}
{% load static %}
{% block content %}

    {% if messages%}
    {% for message in messages%}
        <div class="alert alert-{{message.tags}}">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
    {% endif %}
    
    <!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          {% for category in categories%}
          <!-- shop -->
          <div class="col-md-4 col-xs-6">
            <div class="shop">
              <a href="{% url 'core:category_product_list' category.C_id%}">
                <div class="shop-img">
                  <img src="{{category.image.url}}" alt="" />
                </div>
                <div class="shop-body">
                  <h3>{{category.title}}</h3>
                  <a href="{% url 'core:category_product_list' category.C_id%}" class="cta-btn"
                    >Shop now <i class="fa fa-arrow-circle-right"></i
                  ></a>
                </div>
              </a>
            </div>
          </div>
          <!-- /shop -->
          {%endfor%}

        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- section title -->
          <div class="col-md-12">
            <div class="section-title">
              <h3 class="title">New Products</h3>
              <div class="section-nav">
                <ul class="section-tab-nav tab-nav">
                  {% for category in categories%}
                    <li><a data-toggle="tab" href="#tab1">{{category.title}}</a></li>
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div>
          <!-- /section title -->

          <!-- Products tab & slick -->
          <div class="col-md-12">
            <div class="row">
              <div class="products-tabs">
                <!-- tab -->
                <div id="tab1" class="tab-pane active">
                  <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                    {% for product in products%}
                    <div class="product">
                      <a href="{% url 'core:product_detail' product.p_id%}">
                      <div class="product-img">
                        <img src="{{product.image.url}}" alt="" />
                        <div class="product-label">
                          <span class="sale">-{{product.get_precentage|floatformat:0}}%</span>
                          <span class="new">NEW</span>
                        </div>
                      </div>
                      <div class="product-body">
                        <p class="product-category">{{product.category.title}}</p>
                        <h3 class="product-name">
                          <a href="{% url 'core:product_detail' product.p_id%}">{{product.title}}</a>
                        </h3>
                        <h4 class="product-price"> <span class="current-product-price-{{product.id}}">{{product.price|floatformat:0}}</span> MAD <del class="product-old-price">{{product.old_price|floatformat:0}} MAD</del></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="product-btns">
                          <button class="add-to-wishlist">
                            <i class="fa fa-heart-o"></i
                            ><span class="tooltipp">add to wishlist</span>
                          </button>
                          <button class="add-to-compare">
                            <i class="fa fa-exchange"></i
                            ><span class="tooltipp">add to compare</span>
                          </button>
                          <button class="quick-view">
                            <i class="fa fa-eye"></i
                            ><span class="tooltipp">quick view</span>
                          </button>
                        </div>
                      </div>
                      <div class="add-to-cart">
                        <input type="hidden" value="1" name="" id="product-quantity" class="product-quantity-{{product.id}}">
                        <input type="hidden" class="product-pid-{{product.id}}" id="{{product.id}}" value="{{product.p_id}}">
                        <input type="hidden" class="product-id-{{product.id}}" id="{{product.id}}" value="{{product.id}}">
                        <input type="hidden" class="product-image-{{product.id}}" id="{{product.image.url}}" value="{{product.image.url}}">
                         <input type="hidden" class="product-title-{{product.id}}" id="{{product.title}}" value="{{product.title}}">
                        <button class="add-to-cart-btn" id="add-to-cart-btn" data-index="{{product.id}}">
                          <i class="fa fa-shopping-cart" id="add-to-cart-btn"></i> add to cart
                        </button>
                      </div>
                    </a>
                    </div>
                    {% endfor%}
                    <!-- /product -->
                  </div>
                  <div id="slick-nav-1" class="products-slick-nav"></div>
                </div>
                <!-- /tab -->
              </div>
            </div>
          </div>
          <!-- Products tab & slick -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- HOT DEAL SECTION -->
    <div id="hot-deal" class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="hot-deal">
              <ul class="hot-deal-countdown">
                <li>
                  <div>
                    <h3>02</h3>
                    <span>Days</span>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>10</h3>
                    <span>Hours</span>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>34</h3>
                    <span>Mins</span>
                  </div>
                </li>
                <li>
                  <div>
                    <h3>60</h3>
                    <span>Secs</span>
                  </div>
                </li>
              </ul>
              <h2 class="text-uppercase">hot deal this week</h2>
              <p>New Collection Up to 50% OFF</p>
              <a class="primary-btn cta-btn" href="#">Shop now</a>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /HOT DEAL SECTION -->
{% endblock content %}
 
