{% extends 'partials/base.html'%}
{% block title %}Bi3Smart | Products Page{% endblock %}
{% load static %}
{% block content %}
   
  {% if messages%}
  {% for message in messages%}
      <div class="alert alert-{{message.tags}}">
          <strong>{{message}}</strong>
      </div>
  {% endfor %}
  {% endif %}
  
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- ASIDE -->
      <div id="aside" class="col-md-3">
      <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Categories</h3>
          <div class="checkbox-filter">
            {% for category in categories %}
            <div class="input-checkbox">
                <input class="form-check-input filter-checkbox" type="checkbox" id="category_{{ category.id }}" value="{{ category.id }}" data-filter="category" data-type="category">
                <label for="category_{{ category.id }}">
                    <span></span>
                    {{ category.title }}
                    <small>({{ category.category.count }})</small>
                </label>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- /aside Widget -->
        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Vendor</h3>
          <div class="checkbox-filter">
            {% for vendor in vendors %}
            <div class="input-checkbox">
              <input class="form-check-input filter-checkbox"  type="checkbox" id="vendor_{{vendor.id}}" value="{{vendor.id}}" data-filter="vendor" data-type="vendor">
              <label for="vendor_{{vendor.id}}">
                <span></span>
                {{vendor.title}}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- /aside Widget -->
        <!-- aside Widget -->
        {% comment %} <div class="aside">
          <h3 class="aside-title">Price</h3>
          <div class="price-filter">
            <div id="price-slider"></div>
            <div class="input-number price-min">
              <input id="price-min" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
            <span>-</span>
            <div class="input-number price-max">
              <input id="price-max" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
          </div>
        </div> {% endcomment %}
        <!-- /aside Widget -->

        <!-- aside Widget -->
        {% comment %} <div class="aside">
          <h3 class="aside-title">Brand</h3>
          <div class="checkbox-filter">
            <div class="input-checkbox">
              <input type="checkbox" id="brand-1">
              <label for="brand-1">
                <span></span>
                SAMSUNG
                <small>(578)</small>
              </label>
            </div>
          </div>
        </div> {% endcomment %}
        <!-- /aside Widget -->

        <!-- aside Widget -->
        {% comment %} <div class="aside">
          <h3 class="aside-title">Top selling</h3>
          <div class="product-widget">
            <div class="product-img">
              <img src="./img/product01.png" alt="">
            </div>
            <div class="product-body">
              <p class="product-category">Category</p>
              <h3 class="product-name"><a href="#">product name goes here</a></h3>
              <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            </div>
          </div>
        </div> {% endcomment %}
        <!-- /aside Widget -->
      </div>
      <!-- /ASIDE -->

      <!-- STORE -->
      <div id="store" class="col-md-9">
        <!-- store top filter -->
        <div class="store-filter clearfix">
          <div class="store-sort">
            <label>
              Sort By:
              <select class="input-select">
                <option value="0">Popular</option>
                <option value="1">Position</option>
              </select>
            </label>

            <label>
              Show:
              <select class="input-select">
                <option value="0">20</option>
                <option value="1">50</option>
              </select>
            </label>
          </div>
          {% comment %} <ul class="store-grid">
            <li class="active"><i class="fa fa-th"></i></li>
            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
          </ul> {% endcomment %}
        </div>
        <!-- /store top filter -->

        <!-- store products -->
        <div class="row" id="filtered-product">
          <!-- product -->
          {% for product in products %}
          <div class="col-md-4 col-xs-6">
            <a href="{% url 'core:product_detail' product.p_id%}">
              <div class="product">
                <div class="product-img">
                  <img src="{{product.image.url}}" alt="">
                  <div class="product-label">
                    <span class="sale">{{product.get_precentage|floatformat:0}}%</span>
                    <span class="new">NEW</span>
                  </div>
                </div>
                <div class="product-body">
                  <p class="product-category">{{product.category.title}}</p>
                  <h3 class="product-name"><a href="{% url 'core:product_detail' product.p_id%}">{{product.title}}</a></h3>
                  <h4 class="product-price"> <span class="current-product-price-{{product.id}}">{{product.price|floatformat:0}}</span> MAD <del class="product-old-price">{{product.old_price|floatformat:0}} MAD</del></h4>
                  <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="product-btns">
                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                  </div>
                </div>
                <div class="add-to-cart">
                  <input type="hidden" value="1" name="" id="product-quantity" class="product-quantity-{{product.id}}">
                  <input type="hidden" class="product-pid-{{product.id}}" id="{{product.id}}" value="{{product.p_id}}">
                  <input type="hidden" class="product-id-{{product.id}}" id="{{product.id}}" value="{{product.id}}">
                  <input type="hidden" class="product-image-{{product.id}}" id="{{product.image.url}}" value="{{product.image.url}}">
                   <input type="hidden" class="product-title-{{product.id}}" id="{{product.title}}" value="{{product.title}}">
                  <button class="add-to-cart-btn" id="add-to-cart-btn" data-index="{{product.id}}">
                    <i class="fa fa-shopping-cart" id="add-to-cart-btn"></i> add to cart
                  </button>
                </div>
              </div>
            </a>
          </div>
          {% if forloop.counter|divisibleby:3 and not forloop.last %}
          <div class="clearfix visible-lg visible-md"></div>          
          {% endif %}
          {%endfor%}
          <!-- /product -->
        </div>
        <!-- /store products -->

        <!-- store bottom filter -->
        <div class="store-filter clearfix">
          <span class="store-qty">Showing 20-100 products</span>
          <ul class="store-pagination">
            <li class="active">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
        <!-- /store bottom filter -->
      </div>
      <!-- /STORE -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock content %}
