{% extends 'partials/base.html'%}
{% block title %}Bi3Smart | {{product.title}} {% endblock %}
{% load static %}
{% block content %}

    {% if messages%}
    {% for message in messages%}
        <div class="alert alert-{{message.tags}}">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
    {% endif %}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="{{product.image.url}}" alt="">
                    </div>
                    {% for image in p_image %}
                        <div class="product-preview">
                            <img src="{{ image.images.url }}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    {% for image in p_image %}
                    <div class="product-preview">
                        <img src="{{ image.images.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{product.title}}</h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link">{{product.stock_count}} Product(s) </a>
                    </div>
                    <div>
                        <h3 class="product-price"> <span class="current-product-price-{{product.id}}" id="current-product-price-{{product.id}}">{{product.price|floatformat:0}}</span> MAD <del class="product-old-price">{{product.old_price|floatformat:0}} MAD</del></h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <p>{{product.description|safe}}</p>

                    {% comment %} <div class="product-options">
                        <label>
                            Size
                            <select class="input-select">
                                <option value="0">X</option>
                            </select>
                        </label>
                        <label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>
                    </div> {% endcomment %}

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number" value="1" name="" id="product-quantity" class="product-quantity-{{product.id}}">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <input type="hidden" class="product-pid-{{product.id}}" id="{{product.id}}" value="{{product.p_id}}">
                        <input type="hidden" class="product-id-{{product.id}}" id="{{product.id}}" value="{{product.id}}">
                        <input type="hidden" class="product-image-{{product.id}}" id="{{product.image.url}}" value="{{product.image.url}}">
                        <input type="hidden" class="product-title-{{product.id}}" id="{{product.title}}" value="{{product.title}}">
                        <button class="add-to-cart-btn" id="add-to-cart-btn" data-index="{{product.id}}">
                            <i class="fa fa-shopping-cart" id="add-to-cart-btn"></i> add to cart
                        </button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                        {% comment %} <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li> {% endcomment %}
                    </ul><br>

                    <ul>
                        <li>Category : <span style="color: #D10024;">{{product.category}}</span></li><br>
                        <li>Type : <span style="color: #D10024;">{{product.type}}</span></li><br>
                        <li>SKU : <span style="color: #D10024;">{{product.sku}}</span></li><br>
                        <li>Date : <span style="color: #D10024;">{{product.date}}</span></li><br>
                        <li>Stock : <span style="color: #D10024;">{{product.stock_count}}</span></li><br>
                        <li>Tags : <span style="color: #D10024;">{% for tag in product.tags.all %} <a href="{% url 'core:tag' tag.slug %}" rel="tag">#{{tag.name}}</a> {%endfor%}</span></li><br>
                    </ul>
                    

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li><a data-toggle="tab" href="#tab2">Details</a></li>
                        <li><a data-toggle="tab" href="#tab3">Reviews ( {{reviews.count}} )</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{product.description|safe}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{product.specefications|safe}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>{{avrage_rating.rating|floatformat:1}} out of 5.0</span>
                                            <div class="rating-stars">
                                                {% for _ in "12345" %}
                                                {% if forloop.counter <= avrage_rating.rating %}
                                                    <i class="fa fa-star"></i>
                                                {% else %}
                                                    <i class="fa fa-star-o"></i>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews">
                                            {% for review in reviews %}
                                            <li>
                                                <div class="review-heading">
                                                    <h5 class="name">{{review.user.username|title}}</h5>
                                                    <p class="date">{{review.date}}</p>
                                                    <div class="review-rating">
                                                        {% for i in "12345" %}
                                                            {% if forloop.counter <= review.get_rating %}
                                                                <i class="fa fa-star"></i>
                                                            {% else %}
                                                                <i class="fa fa-star-o empty"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>{{review.review}}</p>
                                                </div>
                                            </li>
                                            {%endfor%}
                                        </ul>
                                        <ul class="reviews-pagination">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Reviews -->

                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form" action="{% url 'core:ajax-add-review' product.id %}" id="commentForm" method="POST">
                                            {% csrf_token %}
                                            {{review_form.review}}
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                {{review_form.rating}}
                                            </div>
                                           <button type="submit" class="primary-btn">Submit</button> 
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
	<!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                {% if products %}
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>
                {%endif%}
                <!-- product -->
                {% for product in products %}
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <a href="{% url 'core:product_detail' product.p_id%}">
                            <div class="product-img">
                                <img src="{{product.image.url}}" alt="">
                                <div class="product-label">
                                    <span class="sale">-{{product.get_precentage|floatformat:0}}%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{category.title}}</p>
                                <h3 class="product-name"><a href="{% url 'core:product_detail' product.p_id%}">{{product.title}}</a></h3>
                                <h4 class="product-price">{{product.price}} MAD <del class="product-old-price">{{product.old_price}} MAD</del></h4>
                                <div class="product-rating">
                                </div>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </div>
                        </a>
                        </div>
                    </div>
                {% endfor %}
                <!-- /product -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->
{% endblock content %}
