{% for product in products %}
<div class="col-md-4 col-xs-6">
  <a href="{% url 'core:product_detail' product.p_id%}">
    <div class="product">
      <div class="product-img">
        <img src="{{product.image.url}}" alt="">
        <div class="product-label">
          <span class="sale">{{product.get_precentage|floatformat:0}}%</span>
          <span class="new">NEW</span>
        </div>
      </div>
      <div class="product-body">
        <p class="product-category">{{product.category.title}}</p>
        <h3 class="product-name"><a href="{% url 'core:product_detail' product.p_id%}">{{product.title}}</a></h3>
        <h4 class="product-price">{{product.price}} MAD <del class="product-old-price">{{product.old_price}} MAD</del></h4>
        <div class="product-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="product-btns">
          <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
          <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
          <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
        </div>
      </div>
      <div class="add-to-cart">
        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
      </div>
    </div>
  </a>
</div>
{% if forloop.counter|divisibleby:3 and not forloop.last %}
<div class="clearfix visible-lg visible-md"></div>          
{% endif %}
{%endfor%}